<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="connLC" value="Data Source=LCPROD.SBL.COM;User Id=Se2Interface;Password=wozer_99;Integrated Security=no;"/>
    <add key="connMCS" value="Server=MCSSQLPROD;Database=MCS;Integrated Security=SSPI;"/>
    <add key="connCORE" value="Data Source=COREPRD.SBL.COM;User ID=SBGUSR;Password=SBGUSR"/>
    <add key="connDOM" value="Server=TOPSQLDB01D;Database=IntegrationServices;Integrated Security=SSPI;" />
    <!-- If I want to run against production, change server for connSTOR and connSE2 to Prod. Leave connLoad as Dev -->
    <add key="connLOG" value="Server=TOPSQLDB01D;Database=IntegrationServices;Integrated Security=SSPI;" />
    <add key="connSTOR" value="Server=TOPSQLDB01D;Database=InterfaceDataStore;Integrated Security=SSPI;" />
    <add key="connLOAD" value="Server=TOPSQLDB01D;Database=InterfaceDataLoad;Integrated Security=SSPI;" />
    <add key="connSE2" value="Server=TOPSQLDB01D;Database=Se2Interface;Integrated Security=SSPI;" />
    <!--<add key="connLOG" value="Server=SETOPINTFSQL20Q ;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="connSTOR" value="Server=SETOPINTFSQL20Q ;Database=InterfaceDataStore;Integrated Security=SSPI;"/>
    <add key="connLOAD" value="Server=SETOPINTFSQL20Q ;Database=InterfaceDataLoad;Integrated Security=SSPI;"/>
    <add key="connSE2" value="Server=SETOPINTFSQL20Q ;Database=Se2Interface;Integrated Security=SSPI;"/>-->
    <!--<add key="connlog" value="server=TOPSQLDB01D;database=integrationservices;integrated security=sspi;"/>
	  <add key="connstor" value="server=SETOPINTFSQL20P;database=interfacedatastore;integrated security=sspi;"/>
	  <add key="connload" value="server=TOPSQLDB01D;database=interfacedataload;integrated security=sspi;"/>
	  <add key="connse2" value="server=SETOPINTFSQL20P;database=se2interface;integrated security=sspi;"/>-->
    <add key="exceptionTemplate" value="\\Sbtopintfapp01q\e$\IS_V2\Application\Templates\MailException"/>
    <add key="messageTemplate" value="\\Sbtopintfapp01q\e$\IS_V2\Application\Templates\MailMessage"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="APPSETTINGS_DEV" value="Server=TOPSQLDB01D;Database=IntegrationServices;Integrated Security=SSPI;" />
    <add key="APPSETTINGS_QA" value="Server=SETOPINTFSQL20Q ;Database=IntegrationServices;Integrated Security=SSPI;" />
    <add key="APPSETTINGS_PROD" value="Server=SETOPINTFSQL20P;Database=IntegrationServices;Integrated Security=SSPI;" />
    <add key="ENV" value="QA"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="brent.campbell@se2.com">
        <network host="exchange2003.sbl.com" port="25" defaultCredentials="true" clientDomain="SBGLAN1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
